* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #f1faee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: #264653;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
  height: 70px;
  box-shadow: 20px 20px 50px grey;
}

.site--title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.checkbox--inputs {
  margin: 10px;
}

label {
  font-size: 15px;
}

span {
  font-size: 20px;
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  min-height: 400px;
  text-align: center;
}

.CHECK_BOX_CONTAINER1 {
 letter-spacing: 1px;
  min-height: 400px;
  box-shadow: 20px 20px 50px grey;
  border-radius: 10px;
  height: 700px; 
}

.CHECK_BOX_CONTAINER2 {
  margin: 0 30px;
}

.CHECKBOX-PAGE-CONTAINTER {
  display: flex;
  justify-content:space-around;
  margin-top: 10rem;
}

.BUDGET_LIST_CONTAINER {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  max-width: 600px;
  box-shadow: 20px 20px 50px grey;
  justify-content:space-around;
  border-radius: 10px;
}

.BUDGET_ITEM {
  width: 100px;
  border-radius: 10px;
  box-shadow: 20px 20px 50px grey;
  margin: 2px;
  width: 250px;
  height: 150px;
}

.BUDGET_SPANS {
  font-size: 13px; 
}

.BUDGET_NAV {
  height: 50px;
  display: flex;
}

.BUDGET_NAV_BUTTONS {
  background-color: #457b9d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
}

.BUDGET_NAV_BUTTONS:hover {
  background-color: #1d3557;
}
